<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coco.hhz_crm_plus.mapper.DepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.coco.hhz_crm_plus.entity.Department">
        <id column="dept_id" property="deptId" />
        <result column="dept_name" property="deptName" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_del" property="isDel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dept_id, dept_name, create_time, update_time, is_del
    </sql>
    <select id="selectList" resultMap="BaseResultMap">
        select * from department where is_del =0
    </select>
</mapper>
